{% extends "comunes/base.html" %}
{% block principal %}
<h1 class="encabezado_general">Historial de Puestos</h1>
<h4 class="encabezado_secundario"> <span>{{empleados.nombre}}</span> <span>{{empleados.apellidoPaterno}}</span>
    <span>{{empleados.apellidoMaterno}}</span>
</h4>
</h4>

<div class="botones_previos">
    <a class="botones_formularios botonAtras" href="/empleados/ver/{{empleados.idEmpleado}}">
        <img src="{{url_for('static', filename='imagenes/Regresar.png')}}" alt="">
        Regresar</a>

    <!-- <a class="botones_formularios botonCreate" href="/puestosNuevo">
        <img src="{{url_for('static', filename='imagenes/Nuevo.png')}}" alt="">
        Nuevo</a> -->

</div>

{% if get_flashed_messages() %}
{% for m in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong> .
</div>
{% endfor %}
{% endif%}
<div class="table-responsive">
    <table class="table tablaConsulta">
        <thead class="thead-light">
            <tr>
               
                <th>Departamento</th>
                <th>Puesto</th>
                <th>Salario</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>

            </tr>
        </thead>

        {% for hp in historialPuestos %}
   
        <tr>
            
            <td>{{hp.departamentos.nombre}}</td>
            <td>{{hp.puestos.nombre}}</td>
            <td>{{hp.salario}}</td>
            <td>{{hp.fechaInicio}}</td>
            {%if hp.fechaFin==None%}
            <td>-</td>
            {%endif%}

            {%if hp.fechaFin!=None%}
            <td>{{hp.fechaFin}}</td>
            {%endif%}

        </tr>
        
        {% endfor %}
    </table>
<br>
<br>

    <ul class="pagination justify-content-center">
        {%if pagina<=1 %}
            <li class="page-item dissabled"><a class="page-link" href="#">Anterior</a></li>
        {%else%}
            <li class="page-item "><a class="page-link" href="/historialPuestos/pagina/{{empleados.idEmpleado}}/{{pagina-1}}">Anterior</a></li>
        {%endif%}
        <li class="page-item dissabled"><a class="page-link" href="#">Pagina <b>{{pagina}}</b> de <b>{{paginas}}</b></a></li>
        {%if pagina>=paginas%}
        <li class="page-item dissabled"><a class="page-link" href="#">Siguiente</a></li>
        {%else%}
        <li class="page-item "><a class="page-link" href="/historialPuestos/pagina/{{empleados.idEmpleado}}/{{pagina+1}}">Siguiente</a></li>
        {%endif%}
      </ul>

</div>







{% endblock %}