{% extends "comunes/base.html" %}

{% block principal %}

<h1 class="encabezado_general">Actualizar Ciudades</h1>



<div class="foto-formulario foto_ciudades"></div>
<form class="formulario" action="/ciudadesActualizar" enctype="multipart/form-data" method="post">
    <fieldset>
        <div class="contenedor-campos">
            <div class="campo">
                <label class="campo_label" for="id">ID:</label>
                <input class="campo_field" type="number" readonly value="{{ciudades.idCiudad}}" placeholder="Nombre"
                    name="id" required maxlength="50">

            </div>

            <div class="campo">
                <label class="campo_label" for="nombre">Nombre:</label>
                <input class="campo_field" type="text" placeholder="Nombre" value="{{ciudades.nombre}}" name="nombre"
                    required maxlength="50">
            </div>

            <div class="campo">
                <label class="campo_label" for="estados">Estados</label>
                <select class="campo_field" name="estado" required>
                    <option selected value="{{ciudades.idEstado}}">{{ciudades.estados.nombre}}</option>
                    {% for edo in estados %}
                    {% if ciudades.idEstado!=edo.idEstado%}
                    <option value="{{edo.idEstado}}">{{edo.nombre}}</option>
                    {%endif%}
                    {% endfor %}
                </select>
            </div>


            <div class="campo">
                <label class="campo_label" for="nombre">Estatus:</label>
                <select class="campo_field" name="estatus" required>

                    {% if ciudades.estatus=='A'%}
                    <option selected value="{{ciudades.estatus}}">Activo</option>
                    <option value="I">Inactivo</option>
                    {%endif%}

                    {% if ciudades.estatus=='I'%}
                    <option selected value="{{ciudades.estatus}}">Inactivo</option>
                    <option value="A">Activo</option>
                    {%endif%}



                </select>
            </div>

            
    </fieldset>
    </div>
    <div class="campo botones_previos">

        <a class="botones_formularios botonAtras" href="/ciudades/pagina/1">
            <img src="{{url_for('static', filename='imagenes/Regresar.png')}}" alt="">
            Regresar</a>


        <button type="submit" class="botones_formularios botonUpdate">
            <img src="{{url_for('static', filename='imagenes/Actualizar.png')}}" alt="">
            Actualizar</button>

        <button type="button" class="botones_formularios botonDelete" data-toggle="modal"
            data-target="#myModal">
            <img src="{{url_for('static', filename='imagenes/Eliminar.png')}}" alt="">
            Eliminar</button>
            

    </div>
</form>



<!-- Modal Eliminar-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminación de Ciudades</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                ¿Estas seguro de eliminar la ciudad de: {{ciudades.nombre}} , {{ciudades.estados.nombre}}?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="/ciudades/eliminar/{{ciudades.idCiudad}}" class="btn btn-info">Aceptar</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>

        </div>
    </div>
</div>



{% if get_flashed_messages() %}
{% for m in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong> .
</div>
{% endfor %}
{% endif%}



{% endblock %}