{% extends "comunes/base.html" %}
{% block principal %}

<h1 class="encabezado_general">Periodos</h1>

<div class="botones_previos">
    <a class="botones_formularios botonAtras" href="/periodos/pagina/1">
        <img src="{{url_for('static', filename='imagenes/Regresar.png')}}" alt="">
        Regresar</a>
</div>

<div class="foto-formulario foto_departamentos"></div>
<form class="formulario" action="/periodosAgregar" enctype="multipart/form-data" method="post"
    onsubmit="return validarPeriodos(this)">
    <fieldset>
        <div class="contenedor-campos">
            <div class="campo">
                <label class="campo_label" for="nombre">Nombre:</label>
                <input class="campo_field" type="text" placeholder="Nombre" name="nombre" required maxlength="50">
            </div>
            <div class="campo">
                <label class="campo_label" for="nombre">Fecha Inicio:</label>
                <input class="campo_field" type="date" placeholder="Fecha de inicio" name="fechaIncio" required
                    maxlength="50">
            </div>
            <div class="campo">
                <label class="campo_label" for="nombre">Fecha Fin:</label>
                <input class="campo_field" type="date" placeholder="Fecha de finalizacion" name="fechaFin" required
                    maxlength="50">
            </div>

            <div class="campo botones_previos">
                <button type="submit" class="botones_formularios botonCreate">
                    <img src="{{url_for('static', filename='imagenes/Guardar.png')}}" alt="">
                    Guardar</button>
            </div>
        </div>
    </fieldset>
    <div id="notificaciones" class="validarAlerta"></div>
</form>

{% if get_flashed_messages() %}
{% for m in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong> .
</div>
{% endfor %}
{% endif%}

{% endblock %}