{% extends "comunes/base.html" %}
{% block principal %}

<h1 class="encabezado_general">Agregar documento</h1>
<h4 class="encabezado_secundario"> Expediente de: <span>{{empleados.nombre}}</span>
    <span>{{empleados.apellidoPaterno}}</span> <span>{{empleados.apellidoMaterno}}</span>


    <div class="foto-formulario foto_expedientes"></div>
    <form class="formulario" action="/expedientesAgregar" enctype="multipart/form-data" method="post">
        <fieldset>
            <div class="contenedor-campos">
                <div class="campo">
                    <label class="campo_label" for="nombre">Empleado:</label>
                    <input class="campo_field" type="number" value="{{empleados.idEmpleado}}" placeholder="Nombre"
                        name="idEmpleado" required readonly>
                </div>

                <div class="campo">
                    <label class="campo_label" for="nombre">Nombre del Documento:</label>
                    <input class="campo_field" type="text" placeholder="Nombre" name="nombreDocumento" required
                        maxlength="80">
                </div>

                <div class="campo">
                    <label class="campo_label" for="nombre">Documento:</label>
                    <input class="campo_field" type="file" placeholder="Documento" name="documento" required>
                </div>


            </div>
            
        </fieldset>
        <div class="campo botones_previos">
            <button type="submit" class="botones_formularios botonCreate">
                <img src="{{url_for('static', filename='imagenes/Guardar.png')}}" alt="">
                Guardar</button>

            <a class="botones_formularios botonAtras" href="/expedientes/pagina/{{empleados.idEmpleado}}/1">
                <img src="{{url_for('static', filename='imagenes/Regresar.png')}}" alt="">
                Regresar</a>
    </form>

    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong> .
    </div>
    {% endfor %}
    {% endif%}

    {% endblock %}